history/
errors/
update-ipsets*
iprange*
ipv4_range_to_cidr.awk
*.setinfo
*.source
*.lastchecked
*.tmp
.cache
.warn_if_last_downloaded_before_this
sorbs_*.ipset
sorbs_*.netset
dronebl_*.ipset
dronebl_*.netset
ib_bluetack_*.ipset
ib_bluetack_*.netset
dragon_*.ipset
dragon_*.netset
